@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi Sistema de Administración de Usuarios</h1>
    <p>Esta es la Pagina de inicio, navega por el menú y utiliza las diferentes funciones que te permite el programa!.</p>
</div>
