@model AdminSeguridad.Models.Rol

<h2>Crear Rol</h2>

<form asp-action="Create">
    <div>
        <label>Nombre del Rol</label>
        <input asp-for="NombreRol" />
    </div>
    <button type="submit">Crear</button>
</form>
