@model AdminSeguridad.Models.Usuario

<h2>Agregar Usuario</h2>

<form asp-action="Create">
    <div>
        <label>Usuario</label>
        <input asp-for="usuario" />
    </div>
    <div>
        <label>Nombre</label>
        <input asp-for="Nombre" />
    </div>
    <div>
        <label>Primer Apellido</label>
        <input asp-for="Apellido1" />
    </div>
    <div>
        <label>Segundo Apellido</label>
        <input asp-for="Apellido2" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Clave</label>
        <input asp-for="Clave" type="password" />
    </div>
    <div>
        <label>Rol</label>
        <select asp-for="RolID" asp-items="@(new SelectList(ViewBag.Roles, "RolID", "NombreRol"))"></select>
    </div>
    <button type="submit">Crear</button>
</form>
